<launch>
  <node name="camera_node"
        pkg="usb_cam"
        type="usb_cam_node"
        output="screen">
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
  </node>

  <node name="face_image" pkg="image_view" type="image_view" output="screen">
      <remap from="image" to="/face_recognized" />
  </node>

  <node name="rosserial_python_loadcell" pkg="rosserial_python" type="serial_node.py" output="screen">
      <param name="port" value="/dev/ttyACM0" />
      <param name="baud" value="57600" />
  </node>

  <node name="soundplay_node"
        pkg="sound_play"
        type="soundplay_node.py"
        />

  <node name="face_position"
        pkg="eye_see"
        type="face_position" />
</launch>
