<launch>
  <include file="$(find eye_see)/launch/dynamixel_bringup.launch" />
  
  <node name="camera_node"
        pkg="usb_cam"
        type="usb_cam_node"
        output="screen"
	respawn="true">
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
  </node>

  <node name="face_image" pkg="image_view" type="image_view" output="screen" respawn="true">
      <remap from="image" to="/face_recognized" />
  </node>

  <node name="soundplay_node"
        pkg="sound_play"
        type="soundplay_node.py"
	respawn="true"
        />

  <node name="face_detection"
        pkg="eye_see"
        type="face_detection" 
	respawn="true"/>
  <node name="main" pkg="eye_see" type="main.py" respawn="true"/>
</launch>
